@{
    ViewData["Title"] = "Payment";
}
<h1>@ViewData["Title"]</h1>

@{
    Html.BeginForm("Payment", "Home", "Index", FormMethod.Post);

    <link type="text/css" rel="stylesheet" href="https://cdn01.jotfor.ms/themes/CSS/5e6b428acc8c4e222d1beb91.css?themeRevisionID=5f30e2a790832f3e96009402" />
    <div role="main" class="form-all">

        <ul class="form-section page-section">

            <li class="form-input-wide" data-type="control_head">
                <div class="form-header-group  header-large">
                    <div class="header-text httal htvam">
                        <h1 class="form-header" data-component="header">
                            Payment Form
                        </h1>
                        <div class="form-subHeader">
                            Enter your card details
                        </div>
                    </div>
                </div>
            </li>

            <li class="form-line required" data-type="control_fullname">
                <label class="form-label form-label-top form-label-auto">
                    Cardholder Name
                    <span class="form-required">
                        *
                    </span>
                </label>
                <div class="form-input-wide" data-layout="full">
                    <div data-wrapper-react="true">
                        <span class="form-sub-label-container" style="vertical-align:top" data-input-type="first">
                            <input type="text" name="firstName" class="form-textbox validate[required]" data-defaultvalue="" autoComplete="section-input_29 given-name" size="10" value="" data-component="first" aria-labelledby="label_29 sublabel_29_first" required="" />
                            <label class="form-sub-label" style="min-height:13px" aria-hidden="false"> First Name </label>
                        </span>
                        <span class="form-sub-label-container" style="vertical-align:top" data-input-type="last">
                            <input type="text" id="last_29" name="lastName" class="form-textbox validate[required]" data-defaultvalue="" autoComplete="section-input_29 family-name" size="15" value="" data-component="last" aria-labelledby="label_29 sublabel_29_last" required="" />
                            <label class="form-sub-label" style="min-height:13px" aria-hidden="false"> Last Name </label>
                        </span>
                    </div>
                </div>
            </li>

            <li class="form-line" data-type="control_card">
                <label class="form-label form-label-top form-label-auto">
                    Card Number
                    <span class="form-required">
                        *
                    </span>
                </label>
                <div class="form-input-wide " data-layout="half">
                    <span class="form-sub-label-container" style="vertical-align:top">
                        <input type="number" name="cardNumber" data-defaultvalue="" style="width:310px" size="310" value="" placeholder="ex: 1234 1234 1234 1234" data-component="cardNumber" aria-labelledby="label_30 sublabel_input_30" required="" />
                        <label class="form-sub-label" style="min-height:13px" aria-hidden="false">  </label>
                    </span>
                </div>
            </li>

            <li class="form-line" data-type="control_card">
                <label class="form-label form-label-top form-label-auto">
                    Expiry
                    <span class="form-required">
                        *
                    </span>
                </label>
                <select>
                    <option>--Select Month--</option>
                    <option value="01">January</option>
                    <option value="02">February </option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
                <select>
                    <option>--Select Year--</option>
                    <option value="16"> 2021</option>
                    <option value="17"> 2022</option>
                    <option value="18"> 2023</option>
                    <option value="19"> 2024</option>
                    <option value="20"> 2025</option>
                    <option value="21"> 2026</option>
                </select>

            </li>

            <li class="form-line" data-type="control_card">
                <label class="form-label form-label-top form-label-auto">
                    CVV
                    <span class="form-required">
                        *
                    </span>
                </label>
                <div class="form-input-wide " data-layout="half">
                    <span class="form-sub-label-container" style="vertical-align:top">
                        <input type="number" name="cardNumber" data-defaultvalue="" style="width:310px" size="310" value="" placeholder="ex: 123" data-component="cardNumber" aria-labelledby="label_30 sublabel_input_30" required="" />
                        <label class="form-sub-label" style="min-height:13px" aria-hidden="false">  </label>
                    </span>
                </div>
            </li>

    </div>



}
