@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src ="https://media.cntraveler.com/photos/607f3c487774091e06dd5d21/master/pass/Breeze%20Airways_166655077_303814634409055_8038496796049085212_n.jpeg" height="300" width="600" alt=" Flight Reservation System" />
</div>
