@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/animate.css" />
</head>
<div class="text-center">
    <h1 class="display-6">Come Fly With Us</h1>

        <div class="element">
            <img src="~/images/flight_offers.jpg" height="400" width="800" />
        </div>
        <div class="element">
            <img src="~/images/deals.png" height="400" width="800" />
        </div>
        <div class="element">
            <img src="~/images/Excess-Baggage.jpg" height="400" width="800">
        </div>
    @*</div>*@
</div>
